<div class="form-group"><%
        if(typeof label != "undefined") {
            %>
            <label for="<%=field%>"><%=label%></label><%
        }
        %>
        <input type="<%=type%>" name="<%=field%>" id="<%=field%>" <%
        if(typeof data != "undefined" && data[field]) {
            %>value="<%=data[field]%>"<%
        }
        if(typeof step != "undefined") {
            %> step="<%=step%>"<%
        }
        if(type == "submit") {
            %>class="form-control mr-2 mb-2 btn btn-success"<%
        } else {
            %>class="form-control mr-2 mb-2"<%
        }
        if(type == "file" && typeof multiple != "undefined") {
            %>multiple<%
        }
        %>/><%
        if(typeof validation != "undefined" && validation[field]) {
            %><span class="text-danger"><%
            validation[field].forEach(element => {
                %><%=element%> <% 
            });
            %></span>
            <%
        }
    %>
    </div>