<%- include("../header.ejs") %>
<h1><%=past ? "Resolved matches" : "Unresolved matches"%></h1>
<%- include("../alert.ejs") %>

<% let query = ""
if(typeof search != "undefined") {
    query = `?search=${search}`
} %>

<% if(past) { %>
    <a href="<%=url.replace("/past", "")%>/<%=currentPage%>">
        <button class="btn btn-success mb-2 mr-2">
            Unresolved matches
        </button>
    </a>
<% } else { %>
    <a href="<%=url%>/past/<%=currentPage%>">
        <button class="btn btn-success mb-2 mr-2">
            Resolved matches
        </button>
    </a>
<% } %>



<table class="table table-borderless table-striped">
    <thead>
    <tr>
        <th>Tournament</th>
        <th>Opponent</th>
        <th>Stage</th>
        <th>Result</th>
    </tr>
    </thead>
    <tbody>
    <% matches.forEach(match => {%>
        <tr>
            <td><%=match.tournament.name%></td>
            <td><%=match.player1.id == userId ? match.getPlayerName(2) : match.getPlayerName(1)%></td>
            <td><%=match.layer+1%></td>
            <td><%
                let result = match.getResultForUser(userId)
                if(result == "won") { %>
                    <span class="text-success">Won</span>
                <% } else if(result == "lost") { %>
                    <span class="text-danger">Lost</span>
                <% } else if(result == "waiting") { %>
                    <span title="Waiting for the opponent to enter the result">Waiting</span>
                <% } else { %>
                    <% if (match.disagreement) { %><%="Inconsistent answers. Enter again:"%><% } %>
                    <form method="POST" class="form-inline">
                        <input type="hidden" name="id" value="<%=match.id%>" />
                        <select name="verdict" class="form-control mb-2 mr-2">
                            <option value="1">Won</option>
                            <option value="0">Lost</option>
                        </select>
                        <input type="submit" value="Submit" class="form-control mb-2 mr-2"/>
                    </form>
                <% } %>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>


<%-include("../pagination.ejs", {query: query})%>

<%- include("../footer.ejs") %>