<%- include("../header.ejs") %>
<h1>Reset password</h1>
<%- include("../alert.ejs") %>

<p>Type your email to reset your password:</p>
<form method="post">
    <%-include("../input.ejs", {type: "email", field: "email", label: "Email"})%>
    <% data.submit="Reset password" %>
    <%-include("../input.ejs", {type: "submit", field: "submit"})%>
</form>

<%- include("../footer.ejs") %>