<%- include("../header.ejs") %>
<h1>Login</h1>
<%- include("../alert.ejs") %>

<form method="post">
    <%-include("../input.ejs", {type: "text", field: "email", label: "Email"})%>
    <%-include("../input.ejs", {type: "password", field: "password", label: "Password"})%>
    <% data = {submit: "Login"} %>
    <%-include("../input.ejs", {type: "submit", field: "submit"})%>
</form>
<p>Did you forget your password? <a href="/user/forgotpassword" title="Reset password">Reset password</a></p>
<p>Don't you have an account? <a href="/user/signup" title="Register">Register</a></p>

<%- include("../footer.ejs") %>