<%- include("../header.ejs") %>
<h1>Reset password</h1>
<%- include("../alert.ejs") %>

<p>Type your new password:</p>
<form method="post">
    <%-include("../input.ejs", {type: "password", field: "password", label: "New password"})%>
    <%-include("../input.ejs", {type: "password", field: "confirmPassword", label: "Confirm new password"})%>
    <% data = {submit: "Reset password"}%>
    <%-include("../input.ejs", {type: "submit", field: "submit"})%>
</form>

<%- include("../footer.ejs") %>