<%- include("../header.ejs") %>
<h1><%=tournament.name%></h1>
<%- include("../alert.ejs") %>

<dl>
    <dt>Discipline</dt>
    <dd><%=tournament.discipline%></dd>
    <dt>Organizer</dt>
    <dd><%=`${tournament.organizer.firstName} ${tournament.organizer.lastName}`%></dd>
    <dt>Event's time</dt>
    <dd><%=tournament.getTournamentDateTime()%></dd>
    <dt>Application deadline</dt>
    <dd><%=tournament.getApplicationDeadlineDateTime()%></dd>
    <dt>Registered</dt>
    <dd><%=tournament.numberOfRegistered%>/<%=tournament.maxParticipants%></dd>
</dl>

<div>
<% if(!tournament.active && !tournament.registered) { %>
    <a href="/player/register/<%=tournament.id%>" >
        <button class="btn btn-success">Register</button>    
    </a>
<% } else if(tournament.registered) { %>
    <button class="btn btn-success" disabled>Register</button>
    <span>You are already registered</span>
<% } else { %>
    <button class="btn btn-success" disabled>Register</button>
    <span>Application deadline has passed</span>
<% } %>
</div>

<h2>Matches</h2>
<div id="matchesOuter">
    <div id="matches"></div>
</div>

<h2>Sponsors</h2>
<div id="sponsors">
    <% tournament.images.forEach(image=>{ %>
        <img class="sponsorLogo" src="/img/<%=image.name%>"/>
    <% }) %>
</div>

<h2>Location</h2>
<div id="map">
<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=<%=tournament.longitude-0.1%>,<%=tournament.latitude-0.1%>,<%=tournament.longitude+0.1%>,<%=tournament.latitude+0.1%>&amp;marker=<%=tournament.latitude%>,<%=tournament.longitude%>" style="border: 1px solid black">
</iframe>
</div>

<script>
    $(document).ready(() => {
        loadMatches(<%=tournament.id%>)
    })
</script>

<%- include("../footer.ejs") %>